
.stay_section{
    padding: var(--lg-section-padding);
}

.stay_section ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.stay_section ul li{
    list-style: none;
    padding: 8px 12px;
    cursor: pointer;
}

.stay_section ul li:hover{
    color: var(--purple-color);
}

.stay_section ul li:last-child{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid var(--light-grey-color);
    border-radius: 5px;
    width: 150px;
}

.grid-container{
    display: grid;
    grid-template-columns:  repeat(4, 1fr);
    grid-auto-rows: minmax(100px, auto);
    gap: 25px;
    margin: 50px 0;
}

.grid-item{
    border: 1px solid var(--light-grey-color);
    padding: 15px;
    border-radius: 20px;
}

.grid-item img{
    width: 100%;
}

.grid-item p{
    font-size: 12px;
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}

.rating img{
    width: 90px;
}

.first-row-text b, .text_right{
    text-align: right;
}

@media screen and (max-width: 868px){
    .grid-container{
        grid-template-columns:  repeat(3, 1fr);
    }
}

@media screen and (max-width: 600px){
    .grid-container{
        grid-template-columns:  repeat(2, 1fr);
    }
}

@media screen and (max-width: 400px){
    .grid-container{
        grid-template-columns:  repeat(1, 1fr);
    }
}
