@import url('https://fonts.googleapis.com/css2?family=Red+Rose:wght@300;400;500;600;700&display=swap');

:root{
  --light-grey-color:#B8B8B8;
  --grey-color: #434343;
  --dark-grey-color:#1D1D1E;
  --white-color: #fff;
  --purple-color: #A02279;
  --lg-section-padding: 5%; 
  --lg-h1-size: 3rem;
  --md-h1-size: 2rem;
  --lg-h2-size: 2.5rem;
  --md-h2-size: 1.5rem;
  --lg-p-size: 20px;
  --md-p-size: 16px;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Red Rose', cursive;
}

body {
    color: var(--dark-grey-color);
    font-weight: 300;
    overflow-x: hidden;
}


